extends layout

block content
 h1=title

 h2=message
 form.form-horizontal(action="/form", method="post", role="form")
        .form-group
          label.control-label(for="name") Name        
            input#name.form-control(name="name")
         
          label.control-label(for="email") Email         
            input#email.form-control(name="email")
        
          label.control-label(for="comment") Comment         
            input#comment.form-control(name="comment")

        input(type="submit" value="Add Info") 