extends layout

block content
  h1= title   

  p Welcome to #{title}

  p
   | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget nulla mi.
   |Suspendisse elementum, lectus eu volutpat accumsan, nisl nisl feugiat quam,
   |aliquet dignissim eros arcu quis diam. Vestibulum felis felis, fermentum
   |in tempus eget, facilisis ullamcorper nibh. Aliquam et vehicula nisi.
   |Quisque pretium venenatis gravida. Vivamus tortor enim, rutrum a gravida ut, 
   |viverra eu neque. Nullam hendrerit risus sapien, id pharetra ex placerat eu. 
   |Quisque sed tellus sem. Proin id elit leo. Pellentesque quis porttitor enim,
   |in blandit turpis. Phasellus vulputate egestas libero, non tincidunt urna
   |varius vel. Nunc quis sapien a ex convallis volutpat eu quis nibh. Sed
   |rutrum odio eu congue elementum. Donec pharetra mauris ac orci interdum posuere.