doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title   
    link(rel='stylesheet', href='/css/style.css')
  body
    p
        a(href="/about") About
    p
        a(href="/form") Form
    p
        a(href="/index") Index
    .container
      block content
